body {
	opacity: 0;
}

/* Everything is hidden and changes instantly while loading */
body:not(.shown) * {
	transition: none !important;
}

body.shown {
	opacity: 1;
	transition: opacity 0.2s ease-in 0.2s;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.homepage {
	position: relative;
	width: 100%;
	height: 100vh;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#home_image_background, #home_image_foreground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	border: none;
}

#home_image_foreground {
	transition: opacity var(--image-fade-duration) ease-in-out;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.container_wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	padding: 25px 35px;
	border-radius: 28px;

	background-color: rgba(16, 16, 16, 0.8);
}

.container h1, .container div, .container div a {
	width: 100%;
	text-align: center;

	color: var(--light-color);
	font-size: 32px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* TODO: title needs a complete rewrite */

#title {
	position: absolute;
	right: 0;
	bottom: 0;

	/* background-color: rgba(16, 16, 16, 0.5); */
	transition: 0.5s opacity ease-in-out;

	--total-height: calc(20px + 10px + 8px); /* height + padding-up + padding-down = 38px */
}

#title_background > svg {
	pointer-events: none;
}

#title_background > svg > path {
	pointer-events: auto;
}

#title > span,
#title_background > div {
	position: absolute;
	bottom: 0;
	right: 0;
	color: var(--light-color);
	font-size: 17px;

	/* height: 20px; */
	padding: 10px 13px 8px 15px;
}

#title_background > div {
	position: relative;
	background-color: var(--color-background-black);
}

#title_background > svg {
	display: block;
	font-size: 0;

	position: absolute;
	bottom: -1px;
	left: -10px;
	width: 11px;
	height: 19px;

	fill: var(--color-background-black);
}

#title,
#title_background,
#title_background > div,
#title > span {
	border-top-left-radius: 15px 19px;
}

#title.fullwidth,
#title.fullwidth > div,
#title.fullwidth > div > div,
#title.fullwidth > span {
	border-top-left-radius: 0;
}

#title_background {
	opacity: 0.5;
	transition: 0.075s opacity ease-in-out;
}

#title:hover > div {
	opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#title_background > div {
	transition: 0.075s background-color ease-in-out;
}

#title_background > svg {
	transition: 0.075s fill ease-in-out;
}

#title_background.permanent_hover {
	transition: 0.2s opacity ease-in-out;
	opacity: 1;
}

#title_background.permanent_hover > div {
	transition: 0.2s background-color ease-in-out;
	background-color: var(--background-color-secondary);
}

#title_background.permanent_hover > svg {
	transition: 0.2s fill ease-in-out;
	fill: var(--background-color-secondary);
}

/* ------------------------------------------------------------------------------------------------------------------ */

#timer {
	display: none;
}

/* 
#timer {
	position: fixed;
	width: 40px;

	transform: rotate(-90deg);
}

#timer_path {
	fill: none;
	stroke: #ddd;
	stroke-width: 16px;
	stroke-linecap: round;

	stroke-dasharray: 100;

	stroke-dashoffset: 100;
	opacity: 0;

	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, .3));
}

@keyframes animate-stroke {
	0% {
		opacity: 0;
		stroke-dashoffset: 100;
	}
	5% {
		opacity: 0.6;
	}
	95% {
		opacity: 0.6;
	}
	100% {
		stroke-dashoffset: 0;
		opacity: 0;
	}
}

#timer_path.play {
	opacity: 1;
	animation: animate-stroke 3s linear forwards;
	transition: 0.5s opacity ease-in-out;
} */

/* ------------------------------------------------------------------------------------------------------------------ */

#content {
	position: relative;
	background-color: var(--background-color);

	/*TODO: if screen height is too small */
	min-height: 500vh;
	/*min-height: 1000vh;*/
}

#content_inner {
	display: flex;
	margin-top: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#header {
	position: sticky;
	top: 0;
	/* width: 100%; */
	background-color: var(--background-color-secondary);

	padding: 20px 0 20px 0;

	text-align: center;

	z-index: 10;
}

#header h1 {
	display: inline-block;

	color: var(--light-color);
	font-size: 32px;
	line-height: 36px;

	transition: 0.5s padding-left ease-in-out;
}

#markets_menu {
	display: none;
	visibility: hidden;
	position: absolute;
}

.markets_menu_label {
	display: none;

	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	padding: 25px;
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.markets_menu_label > span,
.markets_menu_label > span::before,
.markets_menu_label > span::after {
	display: block;
	position: absolute;
	width: 26px;
	height: 2px;
	border-radius: 1px;
	/* pointer-events: none; */

	background-color: var(--main-color);

	transition:
		0.075s background-color ease-in-out,
		0.2s transform ease-in-out;
}

.markets_menu_label > span::before {
	content: '';
	top: -8px;
}

.markets_menu_label > span::after {
	content: '';
	top: 8px;
}

.markets_menu_label:hover > span,
.markets_menu_label:hover > span::before,
.markets_menu_label:hover > span::after {
	background-color: var(--light-color);
}

#markets_menu:checked ~ .markets_menu_label > span {
	transform: rotate(45deg);
}

#markets_menu:checked ~ .markets_menu_label > span::before {
	transform: translateY(8px) rotate(0);
}

#markets_menu:checked ~ .markets_menu_label > span::after {
	transform: translateY(-8px) rotate(90deg);
}

@media (max-width: 533.33px) {
	#header h1 {
		font-size: 6vw;
		/* line-height: 6.75vw; */
	}
}

@media (max-width: 950px) {
	#header h1 {
		padding-left: 50px;
	}

	#markets_menu {
		display: block;
	}

	.markets_menu_label {
		display: flex;
	}
}

/* ------------------------------------------------------------------------------------------------------------------ */

#markets_wrapper {
	min-width: 195px;
	transition: 0.3s min-width ease-in-out;
}

#markets_wrapper.hidden {
	min-width: 0;
}

#markets {
	/* height: calc(100vh - 106px); */
	box-sizing: border-box;
	scrollbar-width: thin;
	padding: 10px 10px 10px 10px;

	/* max-width: max-content; */
	/* width: inherit; */

	transition: 0.3s transform ease-in-out;
}

#markets.hidden {
	transform: translateX(-100%);
}

#markets a {
	display: block;
	height: 1em;
	width: calc(100% - 30px - 20px);

	padding: 14px 37px 14px 15px;
	border-radius: 8px;

	transition: 0.06s background-color ease-in-out;

	border-bottom: 1px solid;
	border-image: linear-gradient(to right, transparent 0%, var(--background-color-light) 20% 80%, transparent 100%) 100% 0;
}

#markets a span {
	display: inline-block;

	color: var(--main-color);
	font-size: 16px;
	white-space: nowrap;

	transition:
		0.06s color ease-in-out,
		0.06s font-size ease-in-out,
		0.06s transform ease-in-out;

	transform-origin: left bottom;
}

#markets a:last-child {
	border-bottom: none;
}

#markets a.active {
	background-color: var(--background-color-light);
}

#markets a:hover span, #markets a.active span {
	transform: scale(1.15);
}

/* ------------------------------------------------------------------------------------------------------------------ */

#cur_image {
	width: 100%;
	margin: 20px 20px 0 50px;
	display: grid;
}

#cur_image_info {
	width: 100%;
	margin: 20px 60px 0 20px;
}

#cur_image > img {
	grid-area: 1 / 1;
	width: 100%;
	border-radius: 20px;
	transition: opacity var(--image-fade-duration) ease-in-out;
}

#cur_image_title {
	margin: 5px 0 20px -1.5px;

	color: var(--main-color);
	font-size: 25px;
}

#cur_image_description {
	color: var(--main-color);
	text-align: justify;
	line-height: 1.5em;
}
