# Cache
__pycache__/

# Generated website
website/*
!website/scripts/
!website/styles/
!website/index.source.html

# Configuration files with tokens
configs/*token.json

# Temporary files
_temp/
debug/*

!.gitkeep