# Cache
__pycache__/

# Generated website
website/root/

# Node.js
website/node_modules/

# Cloudflare
website/.wrangler/

# Configuration files with tokens
configs/*token.json

# Temporary files
_temp/
./*.txt

!.gitkeep
